@mixin font($size, $weight, $height) {
  font-family: 'Archivo', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin button($width, $height) {
  cursor: pointer;
  color: black;
  width: $width;
  height: $height;
  border: none;
  border-radius: 5px;
  background-color: rgb(251, 209, 82);
  @extend %transition;
  @include font(1rem, 600, 1.5rem);

  &:hover {
    background-color: rgb(254, 180, 21);
    box-shadow: 0 0 3px 2px rgb(96, 96, 96, .1);
  }
}